@model Model.Entity.Producto
@{
    ViewBag.Title = Model.Nombre;
}

<ol class="breadcrumb">
    <li><a href="~/">Clientes</a></li>
    <li class="active">@(Model.Nombre)</li>

</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informacion Personal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.IdProducto</dd>

            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>

            <dt>DNI</dt>
            <dd>@Model.PrecioUnitario</dd>

            <dt>Categoría</dt>
            <dd>@Model.Categoria</dd>
        </dl>
    </div>
    <div class="form-actions">
        |@Html.ActionLink("Regresar al Listado", "Index")
    </div>
</div>

