@model Model.Entity.ModoPago
@{
    ViewBag.Title = Model.Nombre;
}

<ol class="breadcrumb">
    <li><a href="~/">Categorias</a></li>
    <li class="active">@(Model.Nombre)</li>

</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informacion</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.NumPago</dd>

            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>

            <dt>Descripcion</dt>
            <dd>@Model.Otros</dd>
        </dl>
    </div>
    <div class="form-actions">
        |@Html.ActionLink("Regresar al Listado", "Index")
    </div>
</div>
@*<div class="panel panel-default">
        <div class="panel-heading">Asignaturas Seleccionadas</div>
        <div class="panel-body">
            <ul class="list-group">

                @foreach (var c in Model.Ventas)
                {
                    <li class="list-group-item">@c.IdVenta</li>
                }
            </ul>
        </div>
    </div>*@
